@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #595555;

  --color-primary: #1447e6;
  --color-primary-hover: #193cb8;
  --color-panel: #d8d8d866;

  --color-surface: #ffffff;

  --color-text-primary: #545454;
  --color-text-secondary: #eef0ff;

  --color-border: #334155;

  --radius-card: 12px;
  --radius-card_inner: 8px;
  --radius-button: 10px;

  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-panel: var(--color-panel);

  --color-surface: var(--color-surface);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --color-border: var(--color-border);

  --radius-card: var(--radius-card);
  --radius-card_inner: var(--radius-card_inner);
  --radius-button: var(--radius-button);

  --shadow-card: var(--shadow-card);

  --font-sans: Helvetica, Arial, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

body {
  background: var(--background);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}
